.wrapper {
  position: relative;
  width: 400px;

  border: 1px solid #ccc;
  border-radius: 4px;

}

.tagWrapper {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.input {
  min-width: 100px;
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;

}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 10;
  width: 400px;
  //padding: 5px;
  max-height: 150px;
  overflow-y: auto;
  list-style-type: none;
  background: white;
  border: 1px solid #ccc;
}

.item {
  padding: 5px 15px;
  cursor: pointer;
}

.item:hover, .highlighted {
  background-color: #f0f0f0;
}
